#scrollable-rectangle {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 200px;
  border: 2px solid grey;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#scrollable-rectangle::-webkit-scrollbar {
  display: none; /* This will hide the scrollbar in WebKit browsers */
}

#fill {
  height: 2000px;
  width: 100%;
}

#green-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 2000px;
  background-color: green;
}
